*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

/* row & col */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
}

/* nav bar */

.nav-bar{
    background-color: #FF6900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 5px 0px black;
}

.nav-bar__gender{
    display: flex;
    justify-content:flex-start;
    gap: 10px;

} 

.nav-bar__gender>li{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.nav-bar__content{
    justify-content: center;
    align-items: center;
}

.nav-bar__logo{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-bar__img{
    width: 150px;
}

.icon-menu{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    filter: invert(100%);
}

.nav-bar__icons{
    width: 16px;
}

/* main content */

.sale__item-img{
    width: 100%;
    padding: 10px 10px 0px 10px;
}

.sale{
    padding-top: 150px;
}

.sale__description{
    padding: 0 10px 40px 10px;
}

.sale__brand{
    font-size: 13px;
    font-weight: 200;
}

.sale__name{
    font-weight: bold;
    font-size: 18px;
}

.sale__price{
    color: red;
    font-size: 13px;
    font-weight: bold
}

.sale__price-before{
    margin-left: 5px;
    color: black;
    font-weight: 200;
    text-decoration: line-through;
    font-size: 14px;
}

/* footer */

.page-footer{
    background-color: #1A1A1A;
}

.text-color-white{
    color: white;
}

.page-footer__content{
    padding: 30px 0;
    justify-content: space-between;
}

.page-footer__privacy{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 13px;
    padding-top: 10px;
}

.footer__icons{
    padding-top: 10px;
    width: 16px;
}